
body
{
  background-color:#D0E0C0;
  
}

#main
{
  color:#000000;
}

.float_test
{
  float:left;
}

img
{
  width: 10vh;
  height:10vh;
}

h1
{
  clear:left;
}

.tb_test
{
  border:1px solid orange;
  border-collapse:collapse;
}

th
{
  border:2px solid rgba(255,0,0,0.3);
  width: 2vh;
  height:2vh;
  border-collapse:collapse;
}

td
{
  border:1px solid rgba(0,0,0,0.3);
  width: 2vh;
  height:2vh;
  text-align:right;
  border-collapse:collapse;
}

input
{
  -webkit-appearance:none;
  margin:20px;
}
